/cloud-simple-parent/cloud-simple-config Maven Webapp/target
/cloud-simple-parent/cloud-simple-eureka Maven Webapp/target
/cloud-simple-parent/cloud-simple-feign Maven Webapp/target
/cloud-simple-parent/cloud-simple-front-end Maven Webapp/target
/cloud-simple-parent/cloud-simple-user-service Maven Webapp/target
/cloud-simple-parent/cloud-simple-resource-api/target
/cloud-simple-parent/cloud-simple-resource-service Maven Webapp/target
/cloud-simple-parent/cloud-simple-common/target
/cloud-simple-parent/cloud-simple-zuul Maven Webapp/target
/cloud-simple-parent/cloud-simple-zipkin-server Maven Webapp/target
